.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.edit-form {
  margin-top: 20vh;
}

.card {
  margin-bottom: 10px;
}

.footer-style {
  min-height: 111px;
  background-color: #343a40;
}

.footer-style p {
  color: white;
  line-height: 100px;
}

.container-fluid {
  padding: 0;
}

.custom-container {
  min-height: 80vh ;
}
